.landingPage{
    min-height: 70vh;
    background: pink;
    padding: 5vh 2rem;
}

header {
    background: #FFF;
}

.logo img {
    width: 5rem;
    display: block;
}

nav ul li a{
    text-decoration: none;
}