:root {
    --osoc-red:  #f14a3b;
  }

* {
    font-family: Montserrat;   
}
.landingPage{
    min-height: 91vh;
    background-image: url("../images/crest-bg.svg");
    background-position: right 10px top;
    background-repeat: no-repeat;
    padding: 5vh 4rem;
    margin-top: 90px;
}

.contactContent {
    padding: 5vh 4rem;
}
.landingPage h1  {
    font-weight: 700;
    font-family: Montserrat;    
    font-size: 2rem;
    max-width: 36rem;
}

.details {
    background: lightblue;
    min-height: 50vh;
    padding: 5vh 2rem;
}

.contactUs{
    margin: auto;
    width: 50%;
}

.detail-card {
    border: 1px solid black;
}
input, textarea, label{
    width: 100%;
}
header {
    display: flex;
    background: #FFF;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 999999;
    height: auto;
}

main {
    margin-top: 4em;
}

.logo img {
    width: 5rem;
    display: block;
    margin: 0.5em;
}

nav ul li a{
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding: 1rem;
    
}

nav ul li a {
    color: black;
    font-family: "Montserrat";    
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container .detail-card {
    width: 50%; 
    margin: 0 2rem 0 0;
    padding: 0.5rem;
}

ul {
    margin: 0 !important;
    padding: 0;

}

.video {
    background-color: #f2f2f4;
    color: #141338;
    align-items: center;
}

.video div iframe {
    margin: 0;
}

.video div p {
    font-size: 1rem;
    font-family: "Montserrat";
    line-height: 1.6;
text-rendering: optimizeLegibility;
}

.numbers {
    padding: 5vh 2rem;
}

.numbers h2 {
    margin: 1rem 0;
}
.number-wrapper {
    text-align: center;
}

.number-wrapper div {
    text-transform: uppercase;
    font-family: Montserrat !important  ;
}

h1, h2 {
    font-family: Montserrat !important;
}

.color-number {
    font-size: 3rem;
    font-weight: 1000;
}


.header-numbers {
    text-align: center;
    justify-content: space-between;
    margin: 2rem 0 0 0;
}
.header-numbers a{
    
    margin: 1rem 0;
    line-height: 1.2;
    font-family: Montserrat !important;
    font-weight: 500;
}

.footer {
    background-color: #dbdbdd;
}

nav ul li .button {
    background-color: #1de1ae; 
    color: #0a0839;
    line-height: 1;
    text-transform: uppercase;
    display: block;
    padding: 0.7rem 1rem;
    font-weight: 700;
    font-size: 0.9rem;
    font: "Montserrat, sans-serif";
}

nav ul li .button:hover {
    background-color: #0a0839; 
    color: #1de1ae;
    line-height: 1;
    text-transform: uppercase;
    display: block;
    padding: 0.7rem 1rem;
    font-weight: 700;
}

.button {
    text-transform: uppercase;
}

.video .button {
    background-color: #0a0839;
    font-weight: 600;
}

.button.extern:hover {
    font-weight: 700;
    color: #0a0839;
    background-color: white;
    border: 1px solid #0a0839;
}


.button.extern:active {
    font-weight: 700;
    color: #0a0839;
    background-color: white;
    border: 1px solid #0a0839;
}

.button.extern {
    font-weight: 700;
    color: #FFF;
    background-color: #0a0839;
    border: 1px solid #FFF;
}

footer {
    background-color: #dbdbdd;
    padding: 3rem 0 3rem;
}
footer a {
    color:#1e1d36;
    text-decoration: underline;
}

footer li {
    list-style-type: none;
}


footer a:hover {

    color:var(--osoc-red);
    text-decoration: none;
}

.grid-padding-x > .cell {
    padding-right: 0.58824rem;
    padding-left: 0.58824rem; }
    @media print, screen and (min-width: 40em) {
      .grid-padding-x > .cell {
        /*! padding-right: 1.47059rem; */
        padding-left: 1.47059rem; 
    } }

.flex-child.video {
    flex: 50%;
}

.flex-child.text {
    flex: 50%;
    padding: 1rem;
}

.cell {
    max-width: 100%;
}

.contributers  a {
    text-decoration: underline;
}

@media only screen and (max-width: 890px) {
    .landingPage {
        background-image: none;
    }

    .flex-child.video {
        flex: 100%;
    }
    
    .flex-child.text {
        flex: 100%;
        padding: 1rem;
    }
  }
  @media only screen and (max-width: 620px) {
    header {
        position: static;
    }
    .landingPage{
        margin-top: 0;
    }
  }
